.container {
    display: flex;
    width: 320px;
    height: 320px;
    
}

.row {
    display: flex;
    width: 100%;
}

.item {
    width: 40px;
    height: 40px;
    border: 2px solid grey;
}

.row:nth-child(odd) .item:nth-child(odd), 
.row:nth-child(even) .item:nth-child(even){
 background-color: black;
}

.row:nth-child(odd) .item:nth-child(even), 
.row:nth-child(even) .item:nth-child(odd){
    background-color: beige;
   }
